
server:
  port: 8082
grpc:
  port: 6567

spring.datasource:
  url: jdbc:h2:mem:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=TRUE
  driverClassName: org.h2.Driver
  username: sa
  password:

spring:
  zipkin:
    baseUrl: http://10.200.10.1:9411/
  sleuth:
    sampler:
      probability: 1.0

management:
  endpoints:
    web:
      exposure:
        include:
          - prometheus
  endpoint:
    prometheus:
      enabled: true